.header {
  padding: 8px 0 40px 0;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 61px;
    width: 100%;
    height: 83px;
    background: linear-gradient(270deg, #faae18 25%, #fec91b 100%);
    z-index: -1;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__link {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    color: #242424;
  }

  &__contacts {
    display: flex;
    align-items: center;
    gap: 70px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__phone {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    text-align: right;
    color: #242424;
  }

  &__modal {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: center;
    color: #242424;
    opacity: 0.6;
  }


  &__btn {
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 6px;
    border: 1px solid #242424;
    border-radius: 60px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    text-align: right;
    color: #242424;
  }
}
