.product {
  margin-bottom: 85px;



  @include small-tablet {
    margin-bottom: 100px;
  }

  &__title {
    margin: 0;
    margin-bottom: 60px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 60px;
    line-height: 100%;
    text-align: center;
    color: #fff;

    @include tablet {
      font-size: 40px;
    }

    @include small-tablet {
      margin-bottom: 40px;
      font-size: 34px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 65px;

    @include tablet {
      gap: 40px;
      flex-wrap: wrap;
    }

    @include small-tablet {
      flex-direction: column;
      gap: 20px;
    }

    &--two {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      @include tablet {
        display: flex;
        gap: 20px;
      }
    }
  }

  &__item {
    max-width: 460px;
    padding: 37px 27px;
    border: 1px solid #5d5d5d;
    border-radius: 20px;
    padding: 37px 26px;
    background: #383838;
    cursor: pointer;

    &:hover {
      background: linear-gradient(248deg, #faae18 0%, #fec91b 100%);

      .product__name {
        color: #1f1f1f;
      }

      .product__price {
        color: #1f1f1f;
      }

      .product__descr {
        color: #1f1f1f;
      }
    }

    @include tablet {
      max-width: 400px;
      width: 100%;
      padding: 20px 44px;
      padding-top: 10px;

      img {
        display: block;
        margin: 0 auto;
      }
    }

    @include midl-tablet {
      max-width: 900px;
    }

    @include small-tablet {
      max-width: 900px;
      width: 100%;
      padding: 20px 20px;
      padding-top: 10px;


    }
  }

  &__name {
    margin: 20px auto 30px auto;
    max-width: 300px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;

    &--two {
      margin: 20px auto 10px auto;
    }

    &--three {
      margin: 20px auto 10px auto;
    }


    @include tablet {
      font-size: 30px;
    }

  }

  &__descr {
    margin: 0;
    margin-bottom: 10px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #fff;
  }

  &__price {
    margin: 0;
    margin-bottom: 30px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }

  &__link {
    margin: 0 auto;
    max-width: 312px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border: 1px solid #6ad2ba;
    border-radius: 50px;
    background: #38b99c;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 22px;
    color: #fff;
    transition: all .3s ease-in-out;

    &:hover {
      background: #24a98c;
    }
  }
}
