.table {
  margin-bottom: 140px;

  @include small-tablet {
    margin-bottom: 60px;
  }

  &__title {
    margin: 0;
    margin-bottom: 90px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 60px;
    line-height: 100%;
    text-align: center;
    color: #fff;

    @include tablet {
      font-size: 40px;
      margin-bottom: 40px;
    }

    @include small-tablet {
      font-size: 34px;
      margin-bottom: 30px;
    }
  }

  &__over {
    border-radius: 20px;
    overflow: hidden;
  }

  .table__content::-webkit-scrollbar {
    height: 4px;
    position: absolute;
  }

  .table__content::-webkit-scrollbar-track {

    /* Цвет трека */
    border-radius: 5px;
  }

  .table__content::-webkit-scrollbar-thumb {
    background: #fc0;
    /* Цвет трека */
    border-radius: 5px;
  }

  &__content {
    position: relative;
    margin: 0 auto;
    max-width: 935px;
    background: #383838;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 20px;

    &::-webkit-scrollbar-thumb {
      background: #fc0;
      /* Цвет трека */
      border-radius: 5px;
    }

    @include tablet {
      overflow: hidden;
      overflow-x: scroll;
    }

    @include small-tablet {
      display: none;
      overflow-x: auto;
    }

    &--mobile {
      display: none;

      .table__wrapper {
        width: 100%;
      }



      @include small-tablet {
        display: block;
      }
    }





  }

  &__wrap {
    position: relative;
    margin: 0 auto;
    max-width: 935px;
    border-radius: 20px;



    &::before {
      content: '';
      position: absolute;
      width: 411px;
      height: 598px;
      left: -270px;
      top: -57px;
      background-image: url(../img/table-bg.webp);
      background-size: cover;
      z-index: 0;

      @include small-tablet {
        display: none;
      }
    }

    &--accent {
      &::before {
        content: '';
        position: absolute;
        width: 645px;
        height: 541px;
        left: inherit;
        right: -392px;
        top: -153px;
        background-image: url(../img/table-bg-2.webp);
        background-size: cover;
        z-index: 0;

        @include small-tablet {
          display: none;
        }
      }
    }
  }

  &__wrapper {
    position: relative;
    z-index: 2;
    width: 930px;


    @include small-tablet {
      width: 880px;
    }
  }

  &__row {
    display: flex;


    &--accent {
      &:nth-child(1) {
        .table__col {
          padding: 15px 0;

          &:nth-child(1) {

            @include small-tablet {
              max-width: 180px !important;
            }
            @include mobile {
              min-width: 150px !important;
            }
          }

          &:nth-child(2) {
            max-width: 203px !important;
            display: flex !important;
            align-items: center;
            justify-content: center;

            @include small-tablet {
              max-width: 500px !important;
            }
          }

          &:nth-child(3) {
            max-width: 150px !important;
            display: flex !important;
            align-items: center;
            justify-content: center;

            @include small-tablet {
              max-width: 500px !important;
            }
          }

          &:nth-child(4) {
            max-width: 166px !important;
            display: flex !important;
            align-items: center;
            justify-content: center;
          }

          &:nth-child(5) {
            max-width: 185px !important;
            display: flex !important;
            align-items: center;
            justify-content: center;
          }
        }
      }

      &:not(:first-child) {


        .table__col {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 17px;

          &:first-child {
            max-width: 226px !important;
            width: 100%;

            @include small-tablet {
              max-width: 180px !important;
            }

            @include mobile {
              min-width: 150px !important;
            }
          }

          &:nth-child(2) {
            max-width: 203px !important;

            @include small-tablet {
              max-width: 500px !important;
            }
          }

          &:nth-child(3) {
            max-width: 150px !important;

            @include small-tablet {
              max-width: 500px !important;
            }
          }

          &:nth-child(4) {
            max-width: 166px !important;
          }


        }
      }
    }


    &:nth-child(1) {
      border-bottom: 1px solid rgba(255, 255, 255, 0.6);

      .table__col {
        &:nth-child(1) {

        }
        &:nth-child(2) {
          max-width: 415px;
          display: grid;
          grid-template-columns: repeat(3, 1fr);

          @include small-tablet {
            grid-template-columns: repeat(2, 1fr);
            max-width: 900px;
          }

          .table__block {
            &:nth-child(1) {
              grid-column: 3 span;
              border-bottom: 1px solid rgba(255, 255, 255, 0.6);

              @include small-tablet {
                grid-column: 2 span;
              }
            }

            &:nth-child(2) {
              border-right: 1px solid rgba(255, 255, 255, 0.6);
            }

            &:nth-child(3) {
              border-right: 1px solid rgba(255, 255, 255, 0.6);
            }
          }
        }


      }

      .table__col {
        &:nth-child(3) {
          max-width: 288px;
          display: grid;
          grid-template-columns: repeat(2, 1fr);

          .table__block {
            &:nth-child(1) {
              grid-column: 2 span;
              border-bottom: 1px solid rgba(255, 255, 255, 0.6);
            }

            &:nth-child(2) {
              border-right: 1px solid rgba(255, 255, 255, 0.6);
            }

          }
        }


      }
    }

    &:not(:first-child) {


      .table__col {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 17px;

        @include small-tablet {
          padding: 17px 7px;
        }

        &:first-child {
          max-width: 227px;
          width: 100%;

          @include small-tablet {
            max-width: 150px;
            min-width: 150px;
          }
        }

        &:nth-child(2) {
          max-width: 138px;

          @include small-tablet {
            max-width: 400px;
          }
        }

        &:nth-child(3) {
          max-width: 138px;

          @include small-tablet {
            max-width: 400px;
          }
        }

        &:nth-child(4) {
          max-width: 139px;
        }

        &:nth-child(5) {
          max-width: 144px;
        }

        &:nth-child(6) {
          max-width: 144px;
        }
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    }


  }

  &__col {
    width: 100%;

    &:first-child {
      max-width: 227px;
      display: flex;
      align-items: center;
      justify-content: center;

      @include small-tablet {
        max-width: 150px;
        min-width: 150px;
      }
    }

    &:not(:last-child) {
      border-right: 1px solid rgba(255, 255, 255, 0.6);
    }
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px;
  }

  &__accent {
    margin: 0;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 110%;

    text-align: center;
    color: #FFF;

    span {
      color: #fc0;
      text-transform: uppercase;
    }

    @include small-tablet {}
  }

  &__name {
    margin: 0;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 110%;
    color: #fff;
    text-align: center;

    span {
      color: #fc0;
      text-transform: uppercase;
    }

    @include small-tablet {
      font-size: 16px;
    }
  }

  &__subtitle {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 22px;
    line-height: 110%;
    text-align: center;
    color: #fff;

    @include small-tablet {
      font-size: 16px;
    }
  }

  &__text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
    text-align: center;
    color: #b5b5b5;

    @include small-tablet {
      font-size: 14px;
    }

  }
}
