<section class="detail">
  <div class="container">
    <p class="detail__title-mobile">
      <span>На 15% плотнее и крепче,</span> благодаря гомогенному пластику и ребрам жесткости
    </p>
    <p class="detail__text-mobile">
      Точная нарезка и качественная сборка
    </p>
    <div class="detail__content">
      <h2 class="detail__title">
        На 15% плотнее и крепче, благодаря гомогенному пластику и ребрам жесткости
      </h2>
      <p class="detail__text">
        Точная нарезка и качественная сборка
      </p>
      <div class="detail__box">
        <div class="detail__inner">
          <p class="detail__name">
            Вентиляция
          </p>
          <p class="detail__descr">
            Комплект вентиляции <br> (приточная и вытяжная)
          </p>
        </div>
      </div>
      <div class="detail__box">
        <div class="detail__inner">
          <p class="detail__name">
            Дополнительное утепление
          </p>
          <p class="detail__descr">
            Обеспечивает сохранность кессона зимой
          </p>
        </div>
      </div>
      <div class="detail__box">
        <div class="detail__inner">
          <p class="detail__name">
            Подключение электрокабеля
          </p>
        </div>
      </div>
      <div class="detail__box">
        <div class="detail__inner">
          <p class="detail__name">
            Лестница не подвержена коррозии
          </p>
          <p class="detail__descr">
            Не нужно докупать лестницу отдельно
          </p>
        </div>
      </div>
      <div class="detail__box">
        <div class="detail__inner">
          <p class="detail__name">
            Ребра жесткости
          </p>
          <p class="detail__descr">
            Предотвращают всплытие кессона
          </p>
        </div>
      </div>
      <div class="detail__box">
        <div class="detail__inner">
          <p class="detail__name">
            Входы для подключения воды
          </p>
          <p class="detail__descr">
            Выполнены на заводе, D32 мм <br> с компрессионными заглушками
          </p>
        </div>
      </div>
      <div class="detail__box">
        <div class="detail__inner">
          <p class="detail__name">
            Прочное фланцевое соединение
          </p>
          <p class="detail__descr">
            Муфта запаяна в дно для удобства монтажа и надежной защиты
          </p>
        </div>
      </div>
      <div class="detail__box">
        <div class="detail__inner">
          <p class="detail__name">
            Усиленное дно
          </p>
          <p class="detail__descr">
            Защищает кессон при высоком уровне грунтовых вод
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
