<section class="gallarey">
  <div class="container">
    <h2 class="gallarey__title">
      Фото готовых объектов
    </h2>
    <div class="gallarey__content">
      <img loading="lazy" src="img/gallarey-1.webp" class="image" width="454" height="360" alt="img">
      <img loading="lazy" src="img/gallarey-2.webp" class="image" width="454" height="360" alt="img">
      <img loading="lazy" src="img/gallarey-3.webp" class="image" width="454" height="360" alt="img">
      <img loading="lazy" src="img/gallarey-4.webp" class="image" width="454" height="360" alt="img">
      <img loading="lazy" src="img/gallarey-5.webp" class="image" width="454" height="360" alt="img">
      <img loading="lazy" src="img/gallarey-6.webp" class="image" width="454" height="360" alt="img">
      <img loading="lazy" src="img/gallarey-7.webp" class="image" width="454" height="360" alt="img">
      <img loading="lazy" src="img/gallarey-8.webp" class="image" width="454" height="360" alt="img">
      <img loading="lazy" src="img/gallarey-9.webp" class="image" width="454" height="360" alt="img">
      <img loading="lazy" src="img/gallarey-10.webp" class="image" width="454" height="360" alt="img">
      <img loading="lazy" src="img/gallarey-11.webp" class="image" width="454" height="360" alt="img">
      <img loading="lazy" src="img/gallarey-12.webp" class="image" width="454" height="360" alt="img">
    </div>

    <div class="swiper gallarey__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img loading="lazy" src="img/gallarey-1.webp" class="image" width="454" height="360" alt="img">
        </div>
        <div class="swiper-slide">
          <img loading="lazy" src="img/gallarey-2.webp" class="image" width="454" height="360" alt="img">
        </div>
        <div class="swiper-slide">
          <img loading="lazy" src="img/gallarey-3.webp" class="image" width="454" height="360" alt="img">
        </div>
        <div class="swiper-slide">
          <img loading="lazy" src="img/gallarey-4.webp" class="image" width="454" height="360" alt="img">
        </div>
        <div class="swiper-slide">
          <img loading="lazy" src="img/gallarey-5.webp" class="image" width="454" height="360" alt="img">
        </div>
        <div class="swiper-slide">
          <img loading="lazy" src="img/gallarey-6.webp" class="image" width="454" height="360" alt="img">
        </div>
        <div class="swiper-slide">
          <img loading="lazy" src="img/gallarey-7.webp" class="image" width="454" height="360" alt="img">
        </div>
        <div class="swiper-slide">
          <img loading="lazy" src="img/gallarey-8.webp" class="image" width="454" height="360" alt="img">
        </div>
        <div class="swiper-slide">
          <img loading="lazy" src="img/gallarey-9.webp" class="image" width="454" height="360" alt="img">
        </div>
        <div class="swiper-slide">
          <img loading="lazy" src="img/gallarey-10.webp" class="image" width="454" height="360" alt="img">
        </div>
        <div class="swiper-slide">
          <img loading="lazy" src="img/gallarey-11.webp" class="image" width="454" height="360" alt="img">
        </div>
        <div class="swiper-slide">
          <img loading="lazy" src="img/gallarey-12.webp" class="image" width="454" height="360" alt="img">
        </div>
      </div>
      <div class="gallarey__pag">
        
      </div>
    </div>
  </div>
</section>
