<header class="header">
  <div class="container">
    <div class="header__content">
      <a href="/" class="header__logo">
        <img loading="lazy" src="img/logo.svg" class="image" width="120" height="184" alt="svg">
      </a>
      <nav class="header__nav" title="">
        <ul class="list-reset header__list">
          <li class="header__item">
            <a href="#" class="header__link">
              О компании
            </a>
          </li>
          <li class="header__item">
            <a href="#" class="header__link">
              Септики
            </a>
          </li>
          <li class="header__item">
            <a href="#" class="header__link">
              Кессоны
            </a>
          </li>
          <li class="header__item">
            <a href="#" class="header__link">
              Где купить
            </a>
          </li>
          <li class="header__item">
            <a href="#" class="header__link">
              Для дилеров
            </a>
          </li>
          <li class="header__item">
            <a href="#" class="header__link">
              Контакты
            </a>
          </li>
        </ul>
      </nav>
      <div class="header__contacts">
        <div class="header__box">
          <a href="tel:78125651888" class="header__phone">8 (812) 565-18-88</a>
          <button class="btn-reset header__modal" data-graph-path="modal">обратный звонок</button>
        </div>
        <a href="#" class="header__btn">
          <img loading="lazy" src="img/wat.svg" class="image" width="36" height="36" alt="svg">
          Написать в чат
        </a>
      </div>
    </div>
  </div>
</header>
