<div class="menu" data-menu>
  <div class="menu__content">
    <button class="btn-reset menu__close" data-menu-item></button>
    <ul class="list-reset menu__list">
      <li class="menu__item">
        <a href="" class="menu__link">О компании</a>
      </li>
      <li class="menu__item">
        <a href="" class="menu__link">Септики</a>
      </li>
      <li class="menu__item">
        <a href="" class="menu__link">Кессоны</a>
      </li>
      <li class="menu__item">
        <a href="" class="menu__link">Где купить</a>
      </li>
      <li class="menu__item">
        <a href="" class="menu__link">Для дилеров</a>
      </li>
      <li class="menu__item">
        <a href="" class="menu__link">Контакты</a>
      </li>

    </ul>




    <div class="menu__box">
      <a href="tel:78125651888" class="menu__phone">8 (812) 565-18-88</a>
      <button class="btn-reset menu__modal" data-graph-path="modal3">обратный звонок</button>
    </div>

  </div>
</div>
