<section class="product product--two">
  <div class="container">
    <h2 class="product__title">
      Продукция
    </h2>
    <div class="product__content product__content--two">
      <div class="product__item">
        <img loading="lazy" src="img/product-img-2.webp" class="image" width="406" height="435" alt="img">
        <p class="product__name product__name--two">
          Bunker K1
        </p>
        <p class="product__price">
          59 000 ₽
        </p>
        <button class="btn-reset product__link"  data-graph-path="modal">Оставить заявку</button>
      </div>
      <div class="product__item">
        <img loading="lazy" src="img/product-img-2.webp" class="image" width="406" height="435" alt="img">
        <p class="product__name product__name--two">
          Bunker K1M
        </p>
        <p class="product__price">
          59 000 ₽
        </p>
        <button class="btn-reset product__link"  data-graph-path="modal">Оставить заявку</button>
      </div>
      <div class="product__item">
        <img loading="lazy" src="img/product-img-2.webp" class="image" width="406" height="435" alt="img">
        <p class="product__name product__name--two">
          Bunker K1M
        </p>
        <p class="product__price">
          59 000 ₽
        </p>
        <button class="btn-reset product__link"  data-graph-path="modal2">Оставить заявку</button>
      </div>
    </div>
  </div>
</section>
