<section class="product">
  <div class="container">
    <h2 class="product__title">
      Наша продукция
    </h2>
    <div class="product__content">
      <a class="product__item" href="septik.html">
        <img loading="lazy" src="img/product-img-1.webp" class="image" width="406" height="435" alt="img">
        <p class="product__name">
         <b>Септики</b> для дома и дачи
        </p>
        <span class="product__link">Подробнее</span>
      </a>
      <a class="product__item" href="kesson.html">
        <img loading="lazy" src="img/product-img-2.webp" class="image" width="406" height="435" alt="img">
        <p class="product__name">
          <b>Кессоны</b> для скважин
        </p>
        <span  class="product__link">Подробнее</span>
      </a>
    </div>
  </div>
</section>
