<section class="product product--two">
  <div class="container">
    <h2 class="product__title">
      Продукция
    </h2>
    <div class="product__content product__content--two" data-graph-path="modal2">
      <div class="product__item">
        <img loading="lazy" src="img/product-img-2.webp" class="image" width="406" height="435" alt="img">
        <p class="product__name product__name--two">
          Bunker K1
        </p>
        <p class="product__price">
          71 900 ₽
        </p>
        <button class="btn-reset product__link" data-graph-path="modal2" >Оставить заявку</button>
      </div>
      <div class="product__item" data-graph-path="modal2">
        <img loading="lazy" src="img/product-img-2.webp" class="image" width="406" height="435" alt="img">
        <p class="product__name product__name--two">
          Bunker K1M
        </p>
        <p class="product__price">
          78 900 ₽
        </p>
        <button class="btn-reset product__link" data-graph-path="modal2">Оставить заявку</button>
      </div>
      <div class="product__item" data-graph-path="modal2">
        <img loading="lazy" src="img/product-img-2.webp" class="image" width="406" height="435" alt="img">
        <p class="product__name product__name--two">
          Bunker K1L
        </p>
        <p class="product__price">
          85 900 ₽
        </p>
        <button class="btn-reset product__link"  data-graph-path="modal2">Оставить заявку</button>
      </div>
      <div class="product__item" data-graph-path="modal2">
        <img loading="lazy" src="img/product-img-2.webp" class="image" width="406" height="435" alt="img">
        <p class="product__name product__name--two">
          Bunker K1.2
        </p>
        <p class="product__price">
          94 700 ₽
        </p>
        <button class="btn-reset product__link" data-graph-path="modal2">Оставить заявку</button>
      </div>
      <div class="product__item" data-graph-path="modal2">
        <img loading="lazy" src="img/product-img-2.webp" class="image" width="406" height="435" alt="img">
        <p class="product__name product__name--two">
          Bunker K1.2M
        </p>
        <p class="product__price">
          101 700 ₽
        </p>
        <button class="btn-reset product__link" data-graph-path="modal2">Оставить заявку</button>
      </div>
      <div class="product__item" data-graph-path="modal2">
        <img loading="lazy" src="img/product-img-2.webp" class="image" width="406" height="435" alt="img">
        <p class="product__name product__name--two">
          Bunker K1.2L
        </p>
        <p class="product__price">
          108 700 ₽
        </p>
        <button class="btn-reset product__link" data-graph-path="modal2">Оставить заявку</button>
      </div>
    </div>
  </div>
</section>
