<section class="product product--three">
  <div class="container">
    <h2 class="product__title">
      Продукция
    </h2>
    <div class="product__content product__content--three" data-graph-path="modal2">
      <div class="product__item">
        <img loading="lazy" src="img/product-img-1.webp" class="image" width="406" height="435" alt="img">
        <p class="product__name product__name--three">
          Bunker S3
        </p>
        <p class="product__descr">
          для 1-3 человек
        </p>
        <p class="product__price">
          45 900 ₽
        </p>
        <button class="btn-reset product__link" >Оставить заявку</button>
      </div>
      <div class="product__item" data-graph-path="modal2">
        <img loading="lazy" src="img/product-img-1.webp" class="image" width="406" height="435" alt="img">
        <p class="product__name product__name--three">
          Bunker K1M
        </p>
        <p class="product__descr">
          для 3-5 человек
        </p>
        <p class="product__price">
          65 900 ₽
        </p>
        <button class="btn-reset product__link" >Оставить заявку</button>
      </div>

    </div>
  </div>
</section>
