<section class="sepitk">
  <div class="container">
    <p class="sepitk__title-mobile">
     <span>Надежная схема очистки</span> - сточные воды проходят через 3 камеры
    </p>
    <div class="sepitk__content">
      <h2 class="sepitk__title">
        Надежная схема очистки - сточные воды проходят через 3 камеры
      </h2>
      <div class="sepitk__box">
        <div class="sepitk__inner">
          <p class="sepitk__name">
            Камера доочистки
          </p>
          <p class="sepitk__text">
            Здесь происходит отделение очищенной воды с последующим водоотведением в дренажный тоннель Bunker
          </p>
        </div>
      </div>
      <div class="sepitk__box">
        <div class="sepitk__inner">
          <p class="sepitk__name">
            Приемная камера
          </p>
          <p class="sepitk__text">
            Здесь оседают тяжелые частицы, мусор и начинается процесс сбраживания
          </p>
        </div>
      </div>
      <div class="sepitk__box">
        <div class="sepitk__inner">
          <p class="sepitk__name">
            Камера разложения
          </p>
          <p class="sepitk__text">
            Здесь отделяются легкие фракции, жиры и происходит дополнительный процесс отстаивания
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
