<section class="table">
  <div class="container">
    <h2 class="table__title">
      Технические характеристики
    </h2>
    <div class="table__wrap">
      <div class="table__content">
        <div class="table__wrapper">
          <div class="table__row">
            <div class="table__col">
              <p class="table__accent">
                <span>Модель кессона</span>
              </p>
            </div>
            <div class="table__col">
              <div class="table__block">
                <p class="table__accent">
                  <span>Размеры</span> <br> транспортировочные, мм
                </p>
              </div>
              <div class="table__block">
                <p class="table__name">
                  Длина
                </p>
              </div>
              <div class="table__block">
                <p class="table__name">
                  Ширина
                </p>
              </div>
              <div class="table__block">
                <p class="table__name">
                  Высота
                </p>
              </div>
            </div>
            <div class="table__col">
              <div class="table__block">
                <p class="table__accent">
                  <span>Размеры</span> <br> камеры, мм
                </p>
              </div>
              <div class="table__block">
                <p class="table__name">
                  Диаметр
                </p>
              </div>
              <div class="table__block">
                <p class="table__name">
                  Высота
                </p>
              </div>


            </div>
          </div>
          <div class="table__row">
            <div class="table__col">
              <span class="table__subtitle">Bunker K1</span>
            </div>
            <div class="table__col">
              <span class="table__text">1110</span>
            </div>
            <div class="table__col">
              <span class="table__text">1110</span>
            </div>
            <div class="table__col">
              <span class="table__text">2110</span>
            </div>
            <div class="table__col">
              <span class="table__text">950</span>
            </div>
            <div class="table__col">
              <span class="table__text">1780</span>
            </div>
          </div>
          <div class="table__row">
            <div class="table__col">
              <span class="table__subtitle">Bunker K1M</span>
            </div>
            <div class="table__col">
              <span class="table__text">1110</span>
            </div>
            <div class="table__col">
              <span class="table__text">1110</span>
            </div>
            <div class="table__col">
              <span class="table__text">2340</span>
            </div>
            <div class="table__col">
              <span class="table__text">950</span>
            </div>
            <div class="table__col">
              <span class="table__text">2010</span>
            </div>
          </div>
          <div class="table__row">
            <div class="table__col">
              <span class="table__subtitle">Bunker K1L</span>
            </div>
            <div class="table__col">
              <span class="table__text">1110</span>
            </div>
            <div class="table__col">
              <span class="table__text">1110</span>
            </div>
            <div class="table__col">
              <span class="table__text">2340</span>
            </div>
            <div class="table__col">
              <span class="table__text">950</span>
            </div>
            <div class="table__col">
              <span class="table__text">2240</span>
            </div>
          </div>
          <div class="table__row">
            <div class="table__col">
              <span class="table__subtitle">Bunker K1.2</span>
            </div>
            <div class="table__col">
              <span class="table__text">1310</span>
            </div>
            <div class="table__col">
              <span class="table__text">1310</span>
            </div>
            <div class="table__col">
              <span class="table__text">2570</span>
            </div>
            <div class="table__col">
              <span class="table__text">1150</span>
            </div>
            <div class="table__col">
              <span class="table__text">1780</span>
            </div>
          </div>
          <div class="table__row">
            <div class="table__col">
              <span class="table__subtitle">Bunker K1.2M</span>
            </div>
            <div class="table__col">
              <span class="table__text">1310</span>
            </div>
            <div class="table__col">
              <span class="table__text">1310</span>
            </div>
            <div class="table__col">
              <span class="table__text">2110</span>
            </div>
            <div class="table__col">
              <span class="table__text">1150</span>
            </div>
            <div class="table__col">
              <span class="table__text">2010</span>
            </div>
          </div>
          <div class="table__row">
            <div class="table__col">
              <span class="table__subtitle">Bunker K1.2L</span>
            </div>
            <div class="table__col">
              <span class="table__text">1310</span>
            </div>
            <div class="table__col">
              <span class="table__text">1310</span>
            </div>
            <div class="table__col">
              <span class="table__text">2570</span>
            </div>
            <div class="table__col">
              <span class="table__text">1150</span>
            </div>
            <div class="table__col">
              <span class="table__text">2240</span>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>
