<section class="tunnel">
  <div class="container">
    <h2 class="tunnel__title">
      Дренажный тоннель
    </h2>
    <img loading="lazy" src="img/tunnel-img-1.webp" class="tunnel__img image" width="328" height="253" alt="img">
    <div class="tunnel__content">
      <div class="tunnel__inner">
        <p class="tunnel__subtitle">
          Преимущества тоннеля
        </p>
        <div class="tunnel__box">
          <div class="tunnel__item">
            <p class="tunnel__name">
              <img loading="lazy" src="img/tunnel-svg.svg" class="image" width="18" height="23" alt="svg">
              Компактный
            </p>
            <p class="tunnel__text">
              Занимает меньше места, чем фильтрационное поле
            </p>
          </div>
          <div class="tunnel__item">
            <p class="tunnel__name">
              <img loading="lazy" src="img/tunnel-svg.svg" class="image" width="18" height="23" alt="svg">
              Эффективный
            </p>
            <p class="tunnel__text">
              Быстро отводит очищенную <br> воду в грунт
            </p>
          </div>
        </div>
        <div class="tunnel__item">
          <p class="tunnel__name">
            <img loading="lazy" src="img/tunnel-svg.svg" class="image" width="18" height="23" alt="svg">
            Надёжный
          </p>
          <p class="tunnel__text">
            Уменьшает риск подтоплений и продлевает срок службы септика
          </p>
        </div>
        <div class="tunnel__item tunnel__item--last">
          <p class="tunnel__name">
            <img loading="lazy" src="img/tunnel-svg.svg" class="image" width="18" height="23" alt="svg">
            <span><span>Подходит для</span> сложных <span>грунтов</span></span>
          </p>
          <p class="tunnel__text">
            Работает даже на глине и суглинке
          </p>
        </div>
      </div>
      <div class="tunnel__wrapper">
        <p class="tunnel__accent">
          Как это работает
        </p>
        <img loading="lazy" src="img/tunnel-img.webp" class="image" width="1276" height="719" alt="img">
      </div>
    </div>
  </div>
</section>
