<section class="way">
  <div class="container">
    <h2 class="way__title">
      Преимущества септика <span>Bunker</span>
    </h2>
    <div class="way__content way__content--three">
      <div class="way__item">
        <img loading="lazy" src="img/way-img-10.svg" class="image" width="40" height="40" alt="img">
        <p class="way__name">
          <span>Не требует</span> “якорения”
        </p>
        <p class="way__descr">
          самонесущий корпус с грунтозацепами позволяет избавиться от дорогостоящего “якорения”
        </p>
      </div>
      <div class="way__item way__item--accent">
        <img loading="lazy" src="img/way-img-11.svg" class="image" width="45" height="45" alt="img">
        <p class="way__name">
          Обслуживание
        </p>
        <p class="way__descr">
          1 раз в 1-2 года
        </p>
      </div>
      <div class="way__item way__item--accent">
        <img loading="lazy" src="img/way-img-12.svg" class="image" width="40" height="40" alt="img">
        <p class="way__name">
          Без запаха
        </p>
        <p class="way__descr">
          конструкция предотвращает распространение неприятных запахов
        </p>
      </div>
      <div class="way__item">
        <img loading="lazy" src="img/way-img-13.svg" class="image" width="40" height="40" alt="img">
        <p class="way__name">
          <span>Долговечность</span>
        </p>
        <p class="way__descr">
          срок службы более 50 лет
        </p>
      </div>


    </div>
  </div>
</section>
