<section class="way">
  <div class="container">
    <h2 class="way__title">
      Преимущества кессона <span>Bunker</span>
    </h2>
    <div class="way__content">
      <div class="way__item">
        <img loading="lazy" src="img/way-img-4.svg" class="image" width="50" height="50" alt="img">
        <p class="way__name">
          Встроенная <span>вентиляция</span>
        </p>
        <p class="way__descr">
          Защита от конденсата и запахов
        </p>
      </div>
      <div class="way__item way__item--accent">
        <img loading="lazy" src="img/way-img-5.svg" class="image" width="45" height="45" alt="img">
        <p class="way__name">
          Удобная лестница
        </p>
        <p class="way__descr">
          Безопасный спуск внутрь
        </p>
      </div>
      <div class="way__item">
        <img loading="lazy" src="img/way-img-6.svg" class="image" width="45" height="45" alt="img">
        <p class="way__name">
         <span>Готовые</span> вводы/выводы
        </p>
        <p class="way__descr">
          Для подключения труб, кабелей и поливочного крана
        </p>
      </div>
      <div class="way__item way__item--accent">
        <img loading="lazy" src="img/way-img-7.svg" class="image" width="40" height="40" alt="img">
        <p class="way__name">
          Прочный материал
        </p>
        <p class="way__descr">
          Изготовлен из гомогенного сополимера, устойчив к коррозии и морозу
        </p>
      </div>
      <div class="way__item">
        <img loading="lazy" src="img/way-img-8.svg" class="image" width="40" height="40" alt="img">
        <p class="way__name">
         <span>Повышенное</span> число ребер жесткости
        </p>
        <p class="way__descr">
          Ребра равномерно распределяют нагрузку и защищают кессон от всплытия
        </p>
      </div>
      <div class="way__item way__item--accent">
        <img loading="lazy" src="img/way-img-9.svg" class="image" width="48" height="48" alt="img">
        <p class="way__name">
          экономия пространства
        </p>
        <p class="way__descr">
          Дополнительное оборудование размещается в кессоне, а не в доме
        </p>
      </div>
    </div>
  </div>
</section>
