<section class="way">
  <div class="container">
    <h2 class="way__title">
      Почему <span>Bunker</span>
    </h2>
    <div class="way__content">
      <div class="way__item">
        <img loading="lazy" src="img/way-img-1.svg" class="image" width="50" height="50" alt="img">
        <p class="way__name">
         <span>простое</span> и редкое обслуживание
        </p>
        <p class="way__descr">
          Один раз в 1-2 года
        </p>
      </div>
      <div class="way__item way__item--accent">
        <img loading="lazy" src="img/way-img-2.svg" class="image" width="50" height="50" alt="img">
        <p class="way__name">
          Более 50 лет
        </p>
        <p class="way__descr">
          Срок службы
        </p>
      </div>
      <div class="way__item">
        <img loading="lazy" src="img/way-img-3.svg" class="image" width="50" height="50" alt="img">
        <p class="way__name">
          <span>не требует</span> якорения
        </p>
        <p class="way__descr">
          Корпус с грунтозацепами позволяет избежать дорогостоящего якорения
        </p>
      </div>
    </div>
  </div>
</section>
