<section class="where">
  <div class="container">
    <h2 class="where__title">
      Где купить
    </h2>
    <div class="where__content">
      <img loading="lazy" src="img/map.svg" class="where__map image" width="1130" height="620" alt="map">
      <div class="where__box">
        <img loading="lazy" src="img/dot.svg" class="image" width="10" height="15" alt="svg">
        <div class="where__inner">
          <p class="where__name">
            Санкт-Петербург
          </p>
          <ul class="list-reset where__list">
            <li class="where__list-item">
              Загород — <a class="where__link" href="https://zagorod.ru">zagorod.ru</a>
            </li>
            <li class="where__list-item">
              Воздух&Вода —  <a class="where__link" href="https://vozduhvoda.ru">vozduhvoda.ru</a>
            </li>
            <li class="where__list-item">
              Геосептик — <a class="where__link" href="https://geoseptik.ru">geoseptik.ru</a>
            </li>
            <li class="where__list-item">
              Лос Инжиниринг — <a class="where__link" href="https://los-i.ru">los-i.ru</a>
            </li>
            <li class="where__list-item">
              PVKSHOP.RU — <a class="where__link" href="https://pvkshop.ru">pvkshop.ru</a>
            </li>
            <li class="where__list-item">
              Септик-прогресс — <a class="where__link" href="https://septic-progress.ru">septic-progress.ru</a>
            </li>
            <li class="where__list-item">
              «Семейный круг» — <a class="where__link" href="https://septik-family.ru">septik-family.ru</a>
            </li>
            <li class="where__list-item">
              Септик Сити — <a class="where__link" href="https://spb.septikcity.ru">spb.septikcity.ru</a>
            </li>
            <li class="where__list-item">
              Эколайф — <a class="where__link" href="https://frear.ru">frear.ru</a>
            </li>
            <li class="where__list-item">
              Септики СПБ — <a class="where__link" href="https://septiki-spb.com">septiki-spb.com</a>
            </li>
            <li class="where__list-item">
              Travokosovv — <a class="where__link" href="https://travokosovv.ru">travokosovv.ru</a>
            </li>
            <li class="where__list-item">
              Все септики СПБ — <a class="where__link" href="https://vk.com/ecolon_spb">vk.com/ecolon_spb</a>
            </li>
            <li class="where__list-item">
              Септик-Сервис Нева — <a class="where__link" href="https://septik-servis-neva.ru">septik-servis-neva.ru</a>
            </li>
            <li class="where__list-item">
              Стиль Мастер — <a class="where__link" href="https://smdom.ru">smdom.ru</a>
            </li>
            <li class="where__list-item">
              Септик СЗФО — <a class="where__link" href="https://septik-szfo.ru">septik-szfo.ru</a>
            </li>
            <li class="where__list-item">
              Топ Хаус - <a class="where__link" href="https://tophouse.ru">tophouse.ru</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="where__box">
        <img loading="lazy" src="img/dot.svg" class="image" width="10" height="15" alt="svg">
        <div class="where__inner">
          <p class="where__name">
            Москва
          </p>
          <ul class="list-reset where__list">
            <li class="where__list-item">
              Загород — <a class="where__link" href="https://zagorod.ru">zagorod.ru</a>
            </li>
            <li class="where__list-item">
              Гудстоун / Ови Груп — <a class="where__link" href="https://goodstone.ru">goodstone.ru</a>
            </li>
            <li class="where__list-item">
              Тепло-Стайл Плюс
            </li>
            <li class="where__list-item">
              Септик Сити — <a class="where__link" href="https://septikcity.ru">septikcity.ru</a>
            </li>
            <li class="where__list-item">
              Септики МСК — <a class="where__link" href="https://pvkshop.ru">septik-msk.com</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="where__box">
        <img loading="lazy" src="img/dot.svg" class="image" width="10" height="15" alt="svg">
        <div class="where__inner">
          <p class="where__name">
            Владивосток
          </p>
          <ul class="list-reset where__list">
            <li class="where__list-item">
              ООО «Глобал-Эко» — <a class="where__link" href="https://global-eco.pro">zglobal-eco.pro</a>
            </li>
            <li class="where__list-item">
              Загородный Инженер — <a class="where__link" href="https://zagorodnyj-inzhener.ru">zagorodnyj-inzhener.ru</a>
            </li>


          </ul>
        </div>
      </div>
    </div>
    <button class="btn-reset where__btn" data-graph-path="modal2">Как стать дилером?</button>
    <div class="where__wrapper">
      <div class="where__item">
        <img loading="lazy" src="img/where-logo-1.webp" class="where__logo image" width="136" height="28" alt="logo">
      </div>
      <div class="where__item">
        <img loading="lazy" src="img/where-logo-2.webp" class="where__logo image" width="126" height="67" alt="logo">
      </div>
      <div class="where__item">
        <img loading="lazy" src="img/where-logo-3.webp" class="where__logo image" width="116" height="62" alt="logo">
      </div>
      <div class="where__item">
        <img loading="lazy" src="img/where-logo-4.webp" class="where__logo image" width="117" height="62" alt="logo">
      </div>
      <div class="where__item">
        <img loading="lazy" src="img/where-logo-5.webp" class="where__logo image" width="111" height="59" alt="logo">
      </div>
      <div class="where__item">
        <img loading="lazy" src="img/where-logo-6.webp" class="where__logo image" width="142" height="76" alt="logo">
      </div>
      <div class="where__item">
        <img loading="lazy" src="img/where-logo-7.webp" class="where__logo image" width="88" height="54" alt="logo">
      </div>
      <div class="where__item">
        <img loading="lazy" src="img/where-logo-8.webp" class="where__logo image" width="130" height="30" alt="logo">
      </div>


    </div>
    <div class="where__block">
      <div class="where__inner">
        <p class="where__name">
          Санкт-Петербург
        </p>
        <ul class="list-reset where__list">
          <li class="where__list-item">
            Загород — <a class="where__link" href="https://zagorod.ru">zagorod.ru</a>
          </li>
          <li class="where__list-item">
            Воздух&Вода — <a class="where__link" href="https://vozduhvoda.ru">vozduhvoda.ru</a>
          </li>
          <li class="where__list-item">
            Геосептик — <a class="where__link" href="https://geoseptik.ru">geoseptik.ru</a>
          </li>
          <li class="where__list-item">
            Лос Инжиниринг — <a class="where__link" href="https://los-i.ru">los-i.ru</a>
          </li>
          <li class="where__list-item">
            PVKSHOP.RU — <a class="where__link" href="https://pvkshop.ru">pvkshop.ru</a>
          </li>
          <li class="where__list-item">
            Септик-прогресс — <a class="where__link" href="https://septic-progress.ru">septic-progress.ru</a>
          </li>
          <li class="where__list-item">
            «Семейный круг» — <a class="where__link" href="https://septik-family.ru">septik-family.ru</a>
          </li>
          <li class="where__list-item">
            Септик Сити — <a class="where__link" href="https://spb.septikcity.ru">spb.septikcity.ru</a>
          </li>
          <li class="where__list-item">
            Эколайф — <a class="where__link" href="https://frear.ru">frear.ru</a>
          </li>
          <li class="where__list-item">
            Септики СПБ — <a class="where__link" href="https://septiki-spb.com">septiki-spb.com</a>
          </li>
          <li class="where__list-item">
            Travokosovv — <a class="where__link" href="https://travokosovv.ru">travokosovv.ru</a>
          </li>
          <li class="where__list-item">
            Все септики СПБ — <a class="where__link" href="https://vk.com/ecolon_spb">vk.com/ecolon_spb</a>
          </li>
          <li class="where__list-item">
            Септик-Сервис Нева — <a class="where__link" href="https://septik-servis-neva.ru">septik-servis-neva.ru</a>
          </li>
          <li class="where__list-item">
            Стиль Мастер — <a class="where__link" href="https://smdom.ru">smdom.ru</a>
          </li>
          <li class="where__list-item">
            Септик СЗФО — <a class="where__link" href="https://septik-szfo.ru">septik-szfo.ru</a>
          </li>
          <li class="where__list-item">
            Топ Хаус - <a class="where__link" href="https://tophouse.ru">tophouse.ru</a>
          </li>
        </ul>
      </div>
      <div class="where__inner">
        <p class="where__name">
          Москва
        </p>
        <ul class="list-reset where__list">
          <li class="where__list-item">
            Загород — <a class="where__link" href="https://zagorod.ru">zagorod.ru</a>
          </li>
          <li class="where__list-item">
            Гудстоун / Ови Груп — <a class="where__link" href="https://goodstone.ru">goodstone.ru</a>
          </li>
          <li class="where__list-item">
            Тепло-Стайл Плюс
          </li>
          <li class="where__list-item">
            Септик Сити — <a class="where__link" href="https://septikcity.ru">septikcity.ru</a>
          </li>
          <li class="where__list-item">
            Септики МСК — <a class="where__link" href="https://pvkshop.ru">septik-msk.com</a>
          </li>
        </ul>
      </div>
      <div class="where__inner">
        <p class="where__name">
          Владивосток
        </p>
        <ul class="list-reset where__list">
          <li class="where__list-item">
            ООО «Глобал-Эко» — <a class="where__link" href="https://global-eco.pro">zglobal-eco.pro</a>
          </li>
          <li class="where__list-item">
            Загородный Инженер — <a class="where__link" href="https://zagorodnyj-inzhener.ru">zagorodnyj-inzhener.ru</a>
          </li>


        </ul>
      </div>
    </div>
  </div>
</section>
